@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(floating) {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 12px);
  }

  100% {
    transform: translate(0, 0px);
  }
}

body {
  overflow-x: hidden;
}

.presentation-container {
  min-height: 100vh;
  background-image: url('/presentation.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 6rem 2rem;

  &::before {
    content: '';
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.3;
  }

  h1 {
    font-size: 64px;
    color: white;
    text-align: center;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
    filter: brightness(2);
  }

  p {
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: 400;
    margin: 0;
    max-width: 768px;
    margin-bottom: 32px;
    min-height: 128px;
    filter: brightness(1.3);
  }

  .ant-space {
    margin-top: 24px;
    margin-bottom: 128px;
    z-index: 999;
  }

  .ant-space-item a svg {
    width: 32px;
    height: 32px;
    color: white;
    transition: color 0.2s ease-out;

    &:hover {
      color: #528dd1;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    @include animate(floating, 6s, ease-in-out, infinite);
  }
}

.timeline-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 2rem;
  background: url('/papel-de-parede.png'), #0C194D;

  h1 {
    color: #fff;
    margin-bottom: 4rem;
  }

  .ant-space {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ant-space-item {
    width: 50%;
  }

  img {
    max-width: 100%;
    height: 100%;
    max-height: 768px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  ul {
    color: #fff;
  }
}

.specialization-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 2rem;

  h1 {
    color: #0C194D;
    margin-bottom: 4rem;
  }

  .ant-col {
    margin-bottom: 16px;
  }

  .ant-card-head-title {
    color: #0C194D;
  }

  .ant-card-body {
    p {
      color: #595959;
    }

    span {
      color: #0C194D;
      display: block;
      margin-bottom: 2rem;
    }
  }
}